/*==================== RESET STYLES ====================*/
@import 'import/reset.scss';
/*==================== RESET STYLES ====================*/

/*==================== FONTS ====================*/
@import 'import/fonts.scss';
/*==================== FONTS ====================*/

/*==================== VARIABLES ====================*/
$maxWidthLayout: 1440;
$maxWidthContainer: 1200;
$circularFont: 'Circular', sans-serif;
/*==================== VARIABLES ====================*/

/*==================== MIXINS ====================*/
// responsive value
@mixin respValue($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
    }
  } @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
  }
}
// @include respValue('padding', 30, 15, 1);
// responsive value
/*==================== MIXINS ====================*/

/*==================== BASIC PARAMETERS ====================*/
body {
  font-family: $circularFont;
  font-weight: 400;
  background: #fff;
  color: #333;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}
/*==================== BASIC PARAMETERS ====================*/

/*==================== REPEAT BLOCK ====================*/

// container
[class*='__container'] {
  width: 100%;
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
// container

// responsive background image
@import 'import/ibg.scss';

.ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
// responsive background image

// main button
.main-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-size: 17px;
  line-height: 1.1;
  border-radius: 5px;
  transition: all 0.2s linear;
  overflow: hidden;

  &_bg_gray {
    background: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
      0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
      0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(85, 85, 85, 1);
      border-radius: 5px;
      opacity: 0;
      transform: scale(0);
      transform-origin: center;
      transition: all 0.2s linear;
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &_bg_transp {
    border: 2px solid rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 0);
    color: rgba(51, 51, 51, 1);

    &::before {
      content: '';
      position: absolute;
      width: 2em;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(238, 238, 238, 0.7);
      transform: translateX(-4em) skewX(-45deg);
      transition: all 0.4s linear;
    }

    &:hover {
      &::before {
        animation: highlight 0.4s linear;
      }
    }
  }

  &__span-item {
    position: relative;
    z-index: 5;
  }
}

@keyframes highlight {
  0% {
    transform: translateX(-4em) skewX(-45deg);
  }
  100% {
    transform: translateX(10em) skewX(-45deg);
  }
}
// main button

// link button
.link-button {
  position: relative;
  display: inline-block;
  transition: all 0.2s linear;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.1px;
    bottom: -2px;
    left: 0;
    background: #333;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transition: all 0.2s linear;
  }

  &:hover {
    color: #555;

    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}
// main button

// page margin-bottom
.page {
  &__intro,
  &__partners,
  &__two-blocks,
  &__how-it-works,
  &__faqs {
    @include respValue('margin-bottom', 150, 60, 1);
  }
}
// page margin-bottom

// header block
.header-block {
  line-height: 1.2;

  &__title {
    @include respValue('font-size', 65, 45, 1);

    &:not(:last-child) {
      @include respValue('margin-bottom', 30, 20, 1);
    }
  }

  &__sub-title {
    @include respValue('font-size', 20, 18, 1);

    &:not(:last-child) {
      @include respValue('margin-bottom', 30, 20, 1);
    }
  }

  &_center {
    text-align: center;
  }

  &_white {
    color: #fff;
  }
}
// header block

/*==================== REPEAT BLOCK ====================*/

/*==================== HEADER ====================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s linear;
  font-size: 17px;
  line-height: 1.2;

  &.active {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 0.3s linear;
      z-index: 3;
    }

    &::before {
      background: #eee;
    }
  }

  &__container {
    width: 100%;
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__body {
    display: grid;
    grid-template: minmax(auto, 100px) / auto 1fr minmax(auto, 236px);
    align-items: center;
    @media (max-width: 767.98px) {
      grid-template-rows: minmax(auto, 70px);
    }
  }

  &__logo {
    grid-column: 1/2;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    position: relative;
    z-index: 5;
  }

  &__menu {
    grid-column: 2/3;
    justify-self: end;
    padding: 0 0 0 15px;
    margin: 0 150px 0 0;

    @media (max-width: 1000px) {
      margin: 0 30px 0 0;
    }

    @media (max-width: 767.98px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background: #333;
      padding: 180px 0 0 0;
      overflow: auto;
      transition: all 0.3s linear;

      &.active {
        top: 0;
      }
    }
  }

  &__menu-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;

    @media (max-width: 1000px) {
      column-gap: 30px;
    }

    @media (max-width: 767.98px) {
      grid-auto-flow: row;
      justify-content: center;
      row-gap: 30px;
      font-size: 23px;
      text-align: center;
      color: #fff;
    }
  }

  &__menu-link {
    &.active {
      &::before {
        background: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  &__authorization {
    grid-column: 3/4;
    display: grid;
    grid-template: 1fr / 1fr 152px;
    align-items: center;

    @media (max-width: 767.98px) {
      position: absolute;
      top: -200%;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s linear;
      grid-template: 1fr / 1fr;
      row-gap: 20px;

      &.active {
        top: 440px;
      }
    }
  }

  &__sign-in {
    justify-self: end;
    margin: 0 30px 0 0;

    @media (max-width: 767.98px) {
      justify-self: center;
      text-align: center;
      font-size: 21px;
      color: #fff;
      margin: 0;

      &::before {
        background: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  &__sign-up {
    @media (max-width: 767.98px) {
      width: 152px;
      font-size: 21px;
      background: #fff;
      box-shadow: none;
      color: #333;

      &:hover {
        &::before {
          opacity: 0;
          transform: scale(0);
        }
      }
    }
  }

  &__burger {
    display: none;

    @media (max-width: 767.98px) {
      grid-column: 3/4;
      justify-self: end;
      position: relative;
      z-index: 5;
      display: grid;
      grid-template: repeat(3, 6.7px) / 30px;

      span {
        position: absolute;
        width: 100%;
        height: 1.8px;
        top: 9px;
        left: 0;
        background: #333;
        transition: all 0.3s linear;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.8px;
        left: 0;
        background: #333;
        transition: all 0.3s linear;
      }

      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      &:active {
        span,
        &::before,
        &::after {
          background: #999;
        }
      }

      &.active {
        span {
          transform: scale(0);
        }

        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }
  }
}
/*==================== HEADER ====================*/

/*==================== INTRO ====================*/
.intro {
  position: relative;

  &__body {
    display: grid;
    justify-items: center;
    padding: 70px 0 0 0;

    @media (min-width: 767.98px) {
      grid-template: 1fr / repeat(2, 1fr);
      align-items: center;
    }
  }

  &__content {
    @media (min-width: 767.98px) {
      padding: 0 15px 0 0;
    }

    @media (max-width: 767.98px) {
      grid-row: 2/3;
      display: inline-grid;
      justify-items: center;
    }
  }

  &__title {
    position: relative;
    display: inline-grid;
    font-weight: 900;
    @include respValue('font-size', 100, 60, 1);

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }

    span {
      &:last-of-type {
        @include respValue('margin-left', 90, 50, 1);

        &::before {
          content: '';
          position: absolute;
          background: url('@img/intro/icons/01.svg') 0 0 / cover no-repeat;
          @include respValue('width', 90, 50, 1);
          @include respValue('height', 100, 60, 1);
          bottom: 18%;
          left: 0;
          z-index: -1;
        }
      }
    }
  }

  &__sub-title,
  &__text {
    font-size: 20px;
    line-height: 1.2;

    @media (max-width: 767.98px) {
      text-align: center;
    }
  }

  &__sub-title {
    font-weight: 700;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  &__text {
    &:not(:last-child) {
      @include respValue('margin-bottom', 60, 40, 1);
    }
  }

  &__get-started-form {
    display: grid;
    max-width: 500px;
    width: 100%;

    @media (min-width: 767.98px) {
      grid-template: 1fr / 1fr minmax(auto, 35.2%);
    }
  }

  &__get-started-input {
    border: 1px solid #333;
    border-radius: 5px;
    min-height: 58px;
    padding: 0 7px;
    font-size: 17px;
    line-height: 1.2;
    color: #333;

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }

    &:focus {
      box-shadow: 0 0 10px 0 #555;
    }

    @media (min-width: 767.98px) {
      border-right: 0;
      border-radius: 5px 0 0 5px;

      &:not(:last-child) {
        margin: 0;
      }
    }
  }

  &__get-started-button {
    @media (min-width: 767.98px) {
      border-radius: 0 5px 5px 0;
    }
  }

  &__image {
    max-width: 550px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 992px) {
      &::before {
        content: '';
        position: absolute;
        background: url('@img/intro/icons/02.svg') 0 0 / 600px no-repeat;
        width: 100%;
        height: 100%;
        top: 60px;
        left: -350px;
        z-index: -1;
      }

      &::after {
        content: '';
        position: absolute;
        background: url('@img/intro/icons/03.svg') 0 0 / cover no-repeat;
        width: 100%;
        height: 100%;
        top: -120px;
        left: 250px;
        z-index: -1;
      }
    }

    @media (max-width: 767.98px) {
      grid-row: 1/2;
      @include respValue('margin-bottom', 60, 30, 1);
    }
  }
}
/*==================== INTRO ====================*/

/*==================== PARTNERS ====================*/
.partners {
  &__container {
    position: relative;

    @media (min-width: 1220px) {
      &::before {
        content: '';
        background: url('@img/dots.svg') 0 0 / cover no-repeat;
        position: absolute;
        width: 158px;
        height: 184px;
        top: 80%;
        left: -10%;
      }
    }
  }

  &__body {
    display: grid;

    @media (min-width: 992px) {
      grid-template: 1fr / 1fr 1.4fr;
    }
  }

  &__content {
    @media (min-width: 992px) {
      padding-top: 60px;

      &:not(:last-child) {
        padding-right: 30px;
      }
    }

    @media (max-width: 992px) {
      &:not(:last-child) {
        margin: 0 0 60px 0;
      }
    }
  }

  &__header {
    @media (max-width: 992px) {
      text-align: center;
    }
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 260px));
    justify-content: end;
    gap: 40px;

    @media (min-width: 992px) {
      &:not(:last-child) {
        padding-right: 30px;
      }
    }

    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  &__logos-image {
    max-width: 260px;
    background: #fff;
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 425px) {
      &:last-child {
        grid-column: 2/3;
      }
    }
  }
}
/*==================== PARTNERS ====================*/

/*==================== TWO BLOCKS ====================*/
.page {
  &__two-blocks {
    @include respValue('padding-top', 80, 40, 1);
    @include respValue('padding-bottom', 80, 40, 1);
    @include respValue('margin-top', 490, 430, 1);
  }
}

.two-blocks {
  position: relative;

  &::before {
    content: '';
    background: rgba(255, 229, 0, 0.1);
    border-radius: 0 300px 0 0;
    position: absolute;
    width: 84%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__container {
    position: relative;

    @media (min-width: 1220px) {
      &::before {
        content: '';
        background: url('@img/dots.svg') 0 0 / cover no-repeat;
        position: absolute;
        width: 158px;
        height: 184px;
        top: 96%;
        left: -14%;
      }
    }
  }

  &__body {
    display: grid;
  }

  &__about-us {
    margin: -400px 0 0 0;

    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }

  &__what-we-do {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 767.98px) {
    &__body {
      grid-template: 1fr / repeat(2, 1fr);
      @include respValue('column-gap', 40, 20, 1);
    }
  }

  @media (max-width: 767.98px) {
    &::before {
      border-radius: 0;
      width: 100%;
    }
  }
}

//! FIRST BLOCK - ABOUT US
.about-us {
  &__header {
    margin: 0 0 40px 0;
  }

  &__image {
    position: relative;
    max-width: 510px;
    margin: 0 0 70px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 200px 0 0 0;
      overflow: hidden;
    }
  }

  &__text {
    max-width: 510px;
    @include respValue('font-size', 20, 18, 1);
    line-height: 1.2;
    color: #555;

    p {
      &:not(:last-child) {
        @include respValue('margin-bottom', 30, 15, 1);
      }
    }
  }

  @media (min-width: 1220px) {
    &__image {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 20px;
        left: -20px;
        border: 1.2px solid #333;
        border-radius: 200px 0 0 0;
      }
    }
  }

  @media (min-width: 992px) {
    &__header {
      max-width: 490px;
    }
  }

  @media (min-width: 767.98px) {
    &__header {
      padding: 0 0 0 40px;
      @include respValue('margin-bottom', 70, 40, 1);
    }
  }

  @media (max-width: 767.98px) {
    &__header {
      text-align: center;
    }

    &__image {
      max-width: 630px;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        left: -10px;
        border: 1.2px solid #333;
        border-radius: 200px 0 0 0;
      }
    }

    &__text {
      max-width: 610px;
      margin: 0 auto;
    }
  }

  @media (max-width: 425px) {
    &__image {
      img {
        border-radius: 130px 0 0 0;
      }

      &::before {
        border-radius: 130px 0 0 0;
      }
    }
  }
}

//! SECOND BLOCK - WHAT WE DO
.what-we-do {
  &__header {
    margin: 0 0 40px 0;
  }

  &__image {
    position: relative;
    max-width: 590px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 200px 0;
      overflow: hidden;
    }
  }

  @media (min-width: 1220px) {
    &__image {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 20px;
        border: 1.2px solid #333;
        border-radius: 0 0 200px 0;
      }
    }
  }

  @media (min-width: 992px) {
    &__header {
      max-width: 420px;
    }
  }

  @media (min-width: 767.98) {
    &__header {
      @include respValue('margin-bottom', 140, 80, 1);
    }
  }

  @media (max-width: 767.98px) {
    &__header {
      text-align: center;
    }

    &__image {
      max-width: 630px;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        left: 10px;
        border: 1.2px solid #333;
        border-radius: 0 0 200px 0;
      }
    }
  }

  @media (max-width: 425px) {
    img {
      border-radius: 0 0 130px 0;
    }

    &::before {
      border-radius: 0 0 130px 0;
    }
  }
}
/*==================== TWO BLOCKS ====================*/

/*==================== HOW IT WORKS ====================*/
.how-it-works {
  &__body {
    display: grid;

    @media (min-width: 767.98px) {
      grid-template: 1fr / repeat(2, 1fr);
      @include respValue('column-gap', 100, 50, 0);
    }
  }

  &__content {
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0 0 30px 0;
      }
    }
  }

  &__header {
    @include respValue(margin-bottom, 60, 40, 1);

    @media (max-width: 767.98px) {
      text-align: center;
    }
  }

  &__buttons {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    max-width: 432px;

    @media (max-width: 767.98px) {
      margin: 0 auto;
    }
  }

  &__spoiler {
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0 0 30px 0;
      }
    }
  }
}

.spoiler {
  &__item {
    font-size: 18px;
    line-height: 1.2;
    background: #fff;
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.1);
    @include respValue('padding', 40, 20, 1);

    &:not(:last-child) {
      @include respValue('margin-bottom', 30, 15, 1);
    }
  }

  &__title {
    position: relative;
    font-weight: 700;
    @include respValue('padding-right', 60, 30, 1);

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: #333;
      transition: all 0.3s linear;
    }

    &::before {
      transform: translateY(-50%) rotate(90deg);
    }

    &.active {
      &::before {
        transform: rotate(0deg);
      }
    }
  }

  &__text {
    max-width: 382px;
    @include respValue('margin-top', 30, 15, 1);
  }
}
/*==================== HOW IT WORKS ====================*/

/*==================== FAQs ====================*/
.faqs {
  &__header {
    max-width: 720px;
    margin: 0 auto;
    @include respValue(margin-bottom, 60, 40, 1);
  }

  &__body {
    background: rgba(255, 229, 0, 0.1);
  }

  &__container {
    @include respValue(padding-top, 90, 40, 1);
    @include respValue(padding-bottom, 90, 40, 1);
    display: grid;
    row-gap: 20px;

    @media (min-width: 767.98px) {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      gap: 30px;
    }
  }

  &__item {
    background: #fff;
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.1);
    border-radius: 10px;
    @include respValue('padding', 30, 20, 1);
    font-size: 18px;
    line-height: 1.2;
  }

  &__title {
    font-weight: 700;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }
}
/*==================== FAQs ====================*/
