/*==================== RESET STYLES ====================*/
@import 'import/reset.scss';
/*==================== RESET STYLES ====================*/

/*==================== FONTS ====================*/
@import 'import/fonts.scss';
/*==================== FONTS ====================*/

/*==================== VARIABLES ====================*/
$maxWidthLayout: 1440;
$maxWidthContainer: 1200;
$circularFont: 'Circular', sans-serif;
/*==================== VARIABLES ====================*/

/*==================== MIXINS ====================*/
// responsive value
@mixin respValue($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
    }
  } @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
  }
}
// @include respValue('padding', 30, 15, 1);
// responsive value
/*==================== MIXINS ====================*/

/*==================== BASIC PARAMETERS ====================*/
body {
  font-family: $circularFont;
  font-weight: 400;
  background: #fff;
  color: #333;
  @media (max-width: 992px) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}
/*==================== BASIC PARAMETERS ====================*/

/*==================== REPEAT BLOCK ====================*/

// container
[class*='__container'] {
  width: 100%;
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
// container

// responsive background image
@import 'import/ibg.scss';

.ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
// responsive background image

// main button
.main-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-size: 17px;
  line-height: 1.1;
  border-radius: 5px;
  transition: all 0.2s linear;
  overflow: hidden;

  &_bg_gray {
    background: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
      0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
      0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);

    @media (min-width: 768px) {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(85, 85, 85, 1);
        border-radius: 5px;
        opacity: 0;
        transform: scale(0);
        transform-origin: center;
        transition: all 0.2s linear;
      }

      &:hover {
        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &_bg_transp {
    border: 2px solid rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 0);
    color: rgba(51, 51, 51, 1);

    @media (min-width: 768px) {
      &::before {
        content: '';
        position: absolute;
        width: 2em;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(238, 238, 238, 0.5);
        transform: translateX(-4em) skewX(-45deg);
        transition: all 0.4s linear;
      }

      &:hover {
        &::before {
          animation: highlight 0.4s linear;
        }
      }
    }
  }

  &__span-item {
    position: relative;
    z-index: 5;
  }
}

@keyframes highlight {
  0% {
    transform: translateX(-4em) skewX(-45deg);
  }
  100% {
    transform: translateX(10em) skewX(-45deg);
  }
}
// main button

// link button
.link-button {
  position: relative;
  display: inline-block;
  transition: all 0.2s linear;

  @media (min-width: 768px) {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.1px;
      bottom: -2px;
      left: 0;
      background: #333;
      opacity: 0;
      transform: scale(0);
      transform-origin: center;
      transition: all 0.2s linear;
    }

    &:hover {
      color: #555;

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
// main button

/*==================== REPEAT BLOCK ====================*/

/*==================== HEADER ====================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s linear;
  font-size: 17px;
  line-height: 1.2;

  &.active {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 0.3s linear;
      z-index: 3;
    }

    &::before {
      background: #eee;
    }
  }

  &__container {
    width: 100%;
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__body {
    display: grid;
    grid-template: minmax(auto, 100px) / auto 1fr minmax(auto, 236px);
    align-items: center;
    @media (max-width: 768px) {
      grid-template-rows: minmax(auto, 70px);
    }
  }

  &__logo {
    grid-column: 1/2;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    position: relative;
    z-index: 5;
  }

  &__menu {
    grid-column: 2/3;
    justify-self: end;
    padding: 0 0 0 15px;
    margin: 0 150px 0 0;

    @media (max-width: 992px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background: #333;
      padding: 180px 0 0 0;
      overflow: auto;
      transition: all 0.3s linear;

      &.active {
        top: 0;
      }
    }
  }

  &__menu-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;

    @media (max-width: 992px) {
      grid-auto-flow: row;
      justify-content: center;
      row-gap: 30px;
      font-size: 23px;
      text-align: center;
      color: #fff;
    }
  }

  &__menu-item {
  }

  &__menu-link {
  }

  &__authorization {
    grid-column: 3/4;
    display: grid;
    grid-template: 1fr / 1fr 152px;
    align-items: center;

    @media (max-width: 992px) {
      position: absolute;
      top: -200%;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s linear;
      grid-template: 1fr / 1fr;
      row-gap: 20px;

      &.active {
        top: 440px;
      }
    }
  }

  &__sign-in {
    justify-self: end;
    margin: 0 30px 0 0;

    @media (max-width: 992px) {
      justify-self: stretch;
      text-align: center;
      font-size: 21px;
      color: #fff;
      margin: 0;
    }
  }

  &__sign-up {
    @media (max-width: 992px) {
      width: 152px;
      font-size: 21px;
      background: #fff;
      box-shadow: none;
      color: #333;
    }
  }

  &__burger {
    display: none;

    @media (max-width: 992px) {
      grid-column: 3/4;
      justify-self: end;
      position: relative;
      z-index: 5;
      display: grid;
      grid-template: repeat(3, 6.7px) / 30px;

      span {
        position: absolute;
        width: 100%;
        height: 1.8px;
        top: 9px;
        left: 0;
        background: #333;
        transition: all 0.3s linear;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.8px;
        left: 0;
        background: #333;
        transition: all 0.3s linear;
      }

      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      &.active {
        span {
          transform: scale(0);
        }

        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }
  }
}
/*==================== HEADER ====================*/

/*==================== INTRO ====================*/
.intro {
  position: relative;

  &__body {
    display: grid;
    justify-items: center;
    padding: 70px 0 0 0;

    @media (min-width: 767.98px) {
      grid-template: 1fr / repeat(2, 1fr);
      align-items: center;
    }
  }

  &__content {
    @media (max-width: 767.98px) {
      grid-row: 2/3;
    }
  }

  &__title {
    display: grid;
    font-weight: 900;
    @include respValue('font-size', 100, 60, 0);
    position: relative;

    span {
      &:last-of-type {
        @include respValue('margin-left', 90, 50, 1);

        &::before {
          content: '';
          position: absolute;
          background: url('@img/intro/icons/01.svg') 0 0 / cover no-repeat;
          @include respValue('width', 90, 50, 1);
          @include respValue('height', 100, 60, 1);
          bottom: 18%;
          left: 0;
          z-index: -1;
        }
      }
    }
  }

  &__sub-title {
    font-weight: 700;
  }

  &__text {
  }

  &__get-started-form {
  }

  &__get-started-input {
  }

  &__get-started-button {
  }

  &__image {
    max-width: 550px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 992px) {
      &::before {
        content: '';
        position: absolute;
        background: url('@img/intro/icons/02.svg') 0 0 / 600px no-repeat;
        width: 100%;
        height: 100%;
        top: 60px;
        left: -350px;
        z-index: -1;
      }

      &::after {
        content: '';
        position: absolute;
        background: url('@img/intro/icons/03.svg') 0 0 / cover no-repeat;
        width: 100%;
        height: 100%;
        top: -120px;
        left: 250px;
        z-index: -1;
      }
    }

    @media (max-width: 767.98px) {
      grid-row: 1/2;
      @include respValue('margin-bottom', 60, 30, 1);
    }
  }
}
/*==================== INTRO ====================*/
